/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
 
  
}

#logo img{
   
    size: 50px;
    height: 80px;
    width: 120px;
    border-radius:20px ;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    
    
  
}

#home::before{
    position: absolute; 
    content: "";
    height:100%;
    /* height: 642px; */
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    animation: animate  16s ease-in-out infinite;
    background-size: cover;
   
     /* background: url('../home_img/bg.jpg') no-repeat center center/cover; */
    
   
}
@keyframes animate {
    0%{
        background-image: url('../home_img/bg1.jpg') ;
    }
    30%{
        background-image: url('../home_img/image1.jpg') ;
    }
    50%{
        background-image: url('../home_img/images7.jpg') ;
    }
    80%{
        background-image: url('../home_img/images6.jpg') ;
    }

    100%{
        background-image: url('../home_img/images6.jpg') ;
    }
    125%{
        background-image: url('../home_img/image2.webp') ;
    }
    145%{
        background-image: url('../home_img/bg.jpg') ;
    }
    160%{
        background-image: url('../home_img/images2.jpg') ;
    }
}




#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 3rem;
    /* font-family: 'Bree Serif', serif; */
}







/* Services Section */
#services{
    /* margin: 34px; */

    display: flex;
  
   
}


#services-container{
    background-color: white;
    color: #cb202d;
    
}
/* #h-primary center{
    color: azure;
} */
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    /* background: #f2f2f2; */
    color: white;
   
   
    margin-bottom: 20px;
}

#services .box img{ 
   height: 170px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: 20px;

} 
.line{
    background-color: brown;
    width: 100%;
    height: 2px;
}
#services1{
  /* margin: 34px; */

  display: flex;
  overflow: auto;
  white-space: nowrap;
 
}
#services1 .box{ 
/* border: 2px solid brown; */
padding: 20px;
margin: 2px 30px;
border-radius: 28px;
/* background: #f2f2f2; */
color: #cb202d;


margin-bottom: 20px;
}
#services1 .box img{ 
height: 170px;
margin: auto;
display: block;
cursor: pointer;
/* border-radius: 40%; */
}
#services1 .box p{
font-family: 'Bree Serif', serif;
font-size: 18px;

}
.para{
  color: #cb202d;
  font-size: 20px;
}
#services1-container{
background-color: #2b1E16;
color: wheat;
}

/* Clients Section */

#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl5sQn2i8qxfHbrBWoEIkbW4mhIRwaVzyBlw&usqp=CAU') no-repeat center center/cover;
    /* background: url('../contact.jpg') no-repeat center center/cover; */

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}




/* Utility Classes */
/* .h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
} */
 /* .h-primary-p{
     font-family: 'Bree Serif', serif; 
   margin-top: 10px;
   font-size: 20rem; ;
    padding: 12px;
     height: 20%; 

} */
.h-primary {
    font-family: 'Bree Serif', serif;
    /* font-size: rem; */
    padding: 12px;
    height: 20%;
    

}
.h4-primary {
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  padding: 12px;
  height: 20%;
  

}



.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    /* padding: 6px 20px; */
    width: 15%;
    height: 10%;
    border: 2px solid white;
    background-color: brown;
    color: white;
   
    
    
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
}
.btn1{
    /* padding: 6px 20px; */
    width: 15%;
    height: 10%;
    border: 2px solid white;
    background-color: brown;
    color: white;
   margin-right: 10px;
    
    
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
  }
  

.center{
    /* text-align: center; */
    color: #000;
    margin-left: 7%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  .modal1-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  .modal2-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #f7a3a3;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
 
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
justify-content: center;
    /* background-color: #04AA6D; */
    background-color: #cb202d;
    /* background-color: #fc8019; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;

  }

  
  /* Add a hover effect for buttons */
  /* button:hover {
    opacity: 0.8;
    color: black;
    background-color: white;
  }
  .ordersubmit:hover {
    opacity: 0.8;
    background-color: white;
     color: black;
    background-color: #46a049; 
  } */
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 10px 0 8px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 20%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  .div-signup{
font-size: 22px;
background-color: #cb202d;
padding: 5px;
width: 200px;
margin-left: 40%;
border-radius: 5px;
cursor: pointer;
color: #f1f1f1;
  }